* {
margin: 0;
padding: 0;
}
body {
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
}

a{
text-decoration: none;
color: white;
}

h1, h2, h3, h4, h5, h6, p, li, span {
    color: white; 
}

input, button {
    color: #333; 
}


img{
max-width: 100%;
}
.wrapper{

width: 100%;
}

.container{
	width: 1400px;
	margin: 0 auto;
}
header{
	padding: 25px 0;
}
header .logo{
	font-size: 20px;
    width: 200px;
	font-weight: 800;
	padding-left: 5px;
}

header nav{
	float: right;
	width: 45%;
}

header nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
    text-align: left;
	font-size: 20px;
}

header nav ul li a{
	color: black;
}

header nav ul li{
	width:100px;
}


header nav ul li:not(.button) a:hover{
	border-bottom: 5px solid #006498;
	
}

header nav ul li.button1::after {
    content: '';
	display: block;
	width: 65px;
	height: 5px;
	background: #002150;
	border-radius: 10px;
	position: relative;
	}


header nav ul li.button a {
	background: #006498;
	color: #fff;
	padding: 9px 17px;
	border-radius: 5px;
	transition: all 500ms ease;
	}
	
	
header nav ul li.button a:hover {
	background: #009098;
	}
	
	
.iml {
    width:200px;
}

.inf {
    margin: 0 auto;
    padding: 50px 30px 25px;
	width: 800px;
    text-align: center;
    justify-content: safe center;
    align-items: safe center;
    display: flex;
    position: relative;
    font-size: 20px;
}

.inf1 {
    margin: 0 auto;
    padding: 50px 30px 25px;
	width: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    font-size: 20px;
}
